<nav class="bg-gray-800 px-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center py-4">
    <a class="text-white text-lg font-bold" routerLink="/">Mi App Moderna</a>

    <div class="flex items-center">
      @if (authService.isAuthenticated()) {
      <a class="text-white flex items-center mr-4" routerLink="/profile">
        @if (authService.user()?.avatarUrl; as avatarUrl) {
        <img [ngSrc]="avatarUrl" [alt]="authService.user()?.name" class="w-8 h-8 rounded-full mr-2">
        }
        {{ authService.user()?.name || 'Usuario' }}
      </a>
      <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" (click)="logout()">
        Cerrar Sesión
      </button>
      } @else {
      <a class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" routerLink="/login">
        Iniciar Sesión
      </a>
      }
    </div>
  </div>
</nav>